# version: '3.9'
services:
  mediamtx:
    image: bluenviron/mediamtx:1.11.3
    container_name: mediamtx
    environment:
      - MTX_WEBRTCADDITIONALHOSTS=${MTX_WEBRTCADDITIONALHOSTS}
    ports:
      - "8890:8890/udp" # SRT ingestion
      - "8889:8889"     # WebRTC signaling
      - "8189:8189/udp" # WebRTC media
    restart: always

  receiver-transcoder:
    image: video-receiver-transcoder
    container_name: video-receiver-transcoder
    ports:
      - "5554:5554/udp" # UDP stream for transcoder    
    environment:
      - RECEIVER_PORT=${RECEIVER_PORT}
      - WIDTH=${WIDTH}
      - HEIGHT=${HEIGHT}
      - BITRATE=${BITRATE}
      - SPEED_PRESET=${SPEED_PRESET}
      - SRT_IP=${SRT_IP}
      - SRT_PORT=${SRT_PORT}
      - STREAM_NAME=${STREAM_NAME}
      - ENABLE_MONITORING=${ENABLE_MONITORING}
      - USE_H264=${USE_H264}
      - EXPORT_TO_INFLUXDB=${EXPORT_TO_INFLUXDB}
      - INFLUXDB_URL=${INFLUXDB_URL}
      - INFLUXDB_TOKEN=${INFLUXDB_TOKEN}
      - INFLUXDB_ORG=${INFLUXDB_ORG}
      - INFLUXDB_BUCKET=${INFLUXDB_BUCKET}   
    volumes:
      - ./receiver-transcoder/app/video_receiver_transcoder.py:/app/video_receiver_transcoder.py
    depends_on:
      - mediamtx
    restart: always